@import url("animations.css");

:root{
  --user-select-rule: none;
  --shop-right-padding: 20%;
  --shop-right-padding-transform: translateX(10%);
  --bigbanana-transform: translate(-100%, -50%);
  --bigbanana-transform-scale: translate(-100%, -50%) scale(1.1);
}
*::selection{
  background-color: rgb(225, 242, 68);
  color: black;
}
body{
  background:
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        url("assets/background.png");
  background-color: yellow;
  background-size: 200px;
  margin-right: var(--shop-right-padding);
}
.bigbanana{
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--bigbanana-transform);
  animation: scale-down-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000 ) both;
  user-select: var(--user-select-rule);
}
.bigbanana:hover {
    animation: scale-up-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000 ) both;
}
#bananacount{
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 32px;
}
#bananacount::after{
  content: url("assets/banana.png");
  margin: 10px;
}
#bananacount::before{
  content: url("assets/banana.png");
  margin: 10px;
}
#bpscount{
  color:white;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}
#toast{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  position: absolute;
  top: 95%;
}
#shop{
  width: var(--shop-right-padding);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(36,36,36);
  background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(13,13,13,1) 100%);
  overflow-y: scroll;
}
#shop *{
  user-select: var(--user-select-rule);
}
#shop h1, h2, h3{
  color:white;
  text-align: center;
  font-family: 'Frijole', sans-serif;
}
.shopcard img{
  padding-left: 0px;
  margin-left: 0px;
  position: relative;
  left: 0;
}
.shopcard{
  color:white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  user-select: var(--user-select-rule);
}
.shopcard label{
  font-size: large;  
  padding-left: 3px;
}
.shopcard:hover{
  background-color: rgb(22, 22, 22);
}
.shopcardprice{
  top: 0;
  right: 3px;
  font-size: small;
}
.strk{
  text-decoration: line-through;
}
.upgradelabel{
 color: white; 
 font-family: 'Rubik', sans-serif;
 font-size: 20px;
 vertical-align: super;
 user-select: var(--user-select-rule);
}
.upgradedescription{
  color:white;
  font-family: 'Rubik', sans-serif;
  padding-left: 5px;
  user-select: var(--user-select-rule);
}
#yourname{
  font-family: 'Press Start 2P', sans-serif;
}
#yourname, #bananacount, #bpscount {
  transform: var(--shop-right-padding-transform);
  padding-right: var(--shop-right-padding);
  user-select: var(--user-select-rule);
}
dialog {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: fit-content;
  background-color: #1f1f1e;
  color: white;
  z-index: 10;
  font-family: sans-serif;
}
#settingsdialog{
  padding: 15px 15px 15px 15px;
}
.changelogtitle{
  font-family: 'Press Start 2P', sans-serif;
}
.shakeanim:hover{
  animation: vibrate-1 0.3s linear infinite both;
}
button{
  background-color:rgb(218, 204, 204);
  border-color: rgb(218, 204, 204); 
  border-style: groove;
}
#changelog_content{
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 150px;
}
.changelog-closex{
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 5px;
  padding-right: 5px;
  color: white;
  text-decoration: none;
}
.infoicon{
  width: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 5px 5px 5px;
  user-select: var(--user-select-rule);
}
.settingsicon{
  width: 15px;
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 5px 5px 5px 5px;
  user-select: var(--user-select-rule);
}
.shiny{
  position: fixed;
  z-index: 10;
}
.shinytext{
  z-index: 11;
  background-color: rgba(27, 26, 26, 0.801);
  width: fit-content;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  position: absolute;
}
#screen-warning{
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: yellow;
}
#screen-warning h2{
  color: black;
}
#shoptoggle{
  position: absolute;
  right: 0;
  margin-right: var(--shop-right-padding);
  color: white;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18.5px;
  user-select: none;
  cursor: pointer;
  padding: 3px;
  top: 0;
  background-color: rgb(16, 16, 16);
  border: 1px solid white;
  border-right: none;
  border-top: none;
}
a{
  color: rgb(61, 108, 225);
}
a:visited{
  color: rgb(52, 95, 225);
}
a:focus{
  color: rgb(46, 89, 215);
}
@media(max-width: 500px){
  #screen-warning{
    display: block;
  }
}
@media(max-height: 400px){
  #screen-warning{
    display: block;
  }
}